:root {
  color-scheme: light dark;
  font-family: monospace;

  --primary-0: #0b6451;
  --primary-1: #095041;
  --primary-2: #073c31;
}

body, #app {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: white;
    background-color: black;

  }
}